<div class="searchBox">
    <input autofocus placeholder="search" [(ngModel)]="term" />
    <span class="count">{{ ruleCount(data | search: term) }}</span>
    <small><a href="about.html">about</a></small>
</div>
@for (group of data | search: term; track group) {
    <section class="group">
        <h1>{{ group.title }}</h1>
        @for (rule of group.rules; track rule) {
            <section class="rule">
                <h1>{{ rule.title }}</h1>
                <div [innerHTML]="rule.content"></div>
                @for (tag of rule.tags; track tag) {
                    <div class="tags">
                        <span class="tag">{{ tag }}</span>
                    </div>
                }
            </section>
        }
    </section>
}
