/* You can add global styles to this file, and also import other style files */

body { background-color: #ebedee; }
:target { background: lightgreen; }
h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
text {
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial;
}
.group,
.column {
    max-width: 15em;
    display: inline-block;
    vertical-align: top;
}
.column .group { width: 100%; }
.group {
    background-color: white;
    border: solid grey 1px;
    border-radius: 8px;
}
.rule {border-top: solid lightgrey 1px; }
.topic { color: orange; stroke: orange; }
.exception { color: darkred; }
.exception:before {content: '⚠ '; }
.comment {color: grey; font-size: 0.8em;}
.example, .exception { margin-left: 1em; margin-top: 0.5em; margin-bottom: 0.5em; }

.searchBox {
    margin: 1em;
    & * {
        margin-left: 1em;
    }
}
.count {
    color: grey;
}

.tags {
    margin: 1em;
}
.tag {
    color: lightgrey;
    font-size: 0.8em;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 0.2em 0.5em;
}
